
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.rola{
    background: linear-gradient(7deg, #fbc74c 49%, #e755f1 51%);
}

.amver{background: linear-gradient(7deg, #f34040 49%, #fbfb2d 51%);}

.azver{background: linear-gradient(7deg, #7a7aca 49%, #35da35 51%);}

.pb{
    background: linear-gradient(7deg, #fff 49%, #666 51%);
}

.placar{
    height: 20%;
    width: 100%;
    margin-bottom: 5px;
}

.placar-time{
    height: 100%;
    width: 48%;
    float: left;
    margin: 0 1%
}

.num-placar{
    font-size: 12vh;
    padding: 3% 5%;
    font-family: monospace;
}

.time1, .time3{
    text-align: right;
    font-size: 80%;
    position: relative;
}

.time1 .toolbar-placar, .time3 .toolbar-placar{
    float:left;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.time2, .time4{
    text-align: left;
    font-size: 80%;
    position: relative;
}

.time2 .toolbar-placar, .time4 .toolbar-placar{
    position: absolute;
    bottom: 0;
    right: 10px;
}

.cronometro{
    width: 100%;
}

.cronometro-quadro{
    position: absolute;
    margin-top: 20vh;
    margin-left: 30%;
    height: 20%;
    width: 40%

    
}

.cronometro-num{
    font-size: 100pt;
    font-family: monospace;
        text-align: center;
}

.cronometro-botoes{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.toolbar-identifique{
    text-align: center;
}

.toolbar-cartas{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}


.imgs-identifique{
    text-align: center;
    margin-top: 20px;
}

.cartas{
    display: flex;
}

.card-container{
    margin: 2vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 110vh;
    margin-top: 5vh;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 33vh; /*33vh*/
  height: 33vh; /*33vh*/
  border: 5px solid transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(30deg);
  
}

.flip-card.flipped .flip-card-inner{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  background-image: url("img/desafio.png");
  background-size: contain;
  background-position: center; 
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card h1{
    font-size: 12vh;
    margin: 20% 20%;
}

.flip-card h2{
    font-size: 5vh;
}

.flip-card p{
    font-size: 2vw;
}

.toolbar{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.container-circulo{
    position: relative;
    top: 20%;
    height: 30vw;
    left: 35vw;
    width: 30vw;
}

.circulo{
    position: absolute;
    border-radius: 50%;
    height: 4%;
    width: 4%;
    background: black;
    top: 0;
    left: 48%;
}

.fora{
    display: none;
}