
body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.rola{
    background: linear-gradient(7deg, #fc0 49%, #e0e 51%);
}

.amver{
background: linear-gradient(7deg, #f00 49%, #ff0 51%);
}

.azver{
background: linear-gradient(7deg, #00f 49%, #0f0 51%);
}

.pb{
    background: linear-gradient(7deg, #fff 49%, #666 51%);
}

.placar{
    height: 20%;
    width: 100%;
}

.placar-time{
    height: 100%;
    width: 48%;
    float: left;
    margin: 0 1%
}

.num-placar{
    font-size: 12vh;
    padding: 3% 5%;
    font-family: monospace;
}

.time1{
    text-align: right;
    font-size: 80%;
}

.time1 .toolbar-placar{
    float:left;
}

.time2{
    text-align: left;
    font-size: 80%;
}

.time2 .toolbar-placar{
    float:right;
}

.cronometro{
    height: 80%;
    width: 100%;
}

.cronometro-quadro{
    position: absolute;
    top: 40%;
    height: 20%;
    left: 40%;
    width: 20%

    
}

.cronometro-num{
    font-size: 100pt;
    font-family: monospace;
        text-align: center;
}

.cronometro-botoes{
    text-align: center;
}

.toolbar-identifique{
    text-align: center;
}

.imgs-identifique{
    text-align: center;
    margin-top: 20px;
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.toolbar {
    position: absolute;
    right: 10px;
    bottom: 5px;
}